{% extends "base.html" %}

{% block title %}
Get Webnovel Redeem Codes
{% endblock %}
{% block title1 %}
Webnovel Redeem Codes
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-primary">Webnovel Redeem Codes 2023 May</h2>
            <p class="text-secondary">Here are the latest Webnovel redeem codes for May 2023. These codes can be used to
                redeem various rewards on the Webnovel platform. Please note that these codes are time-limited and may
                expire. Make sure to redeem them as soon as possible.</p>
            {% set codes = ['CodeXX', 'AFFDJFDF', 'EREIDFDFD', 'IFDFIDFDIF', 'EIUIDFABJB'] %}
            {% for code in codes %}
            <div id="code{{ loop.index }}" style="display: none;">
                <p class="text-info">Code: {{ code }} - Reward: {{ loop.index * 50 }} Coins</p>
            </div>
            <button class="btn btn-primary"
                onclick="showCode('code{{ loop.index }}', 'https://nobleradar.com/go/webnovel')">Show</button>
            {% endfor %}
        </div>
    </div>
</div>


<div id="featuredContainer" class="container">
    <!-- <div class="container"> -->
    <center>
        <h3><strong>Featured Web Novels</strong></h3>
    </center>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/static/images/webnovel/talent swallow.jpg"
                    alt="Talent Swallowing System">
                <div class="card-body">
                    <h5 class="card-title">Talent Swallowing System</h5>
                    <p class="card-text">In a world teetering on the edge of oblivion, humanity's last hope lies in
                        their latent talents. A young boy, Leo, wronged by those who should have been heroes, seeks
                        retribution. With his newfound abilities, he embarks on a quest for justice and truth, vowing to
                        bring down those who have turned their backs on their duty.</p>
                    <a href="https://webnovel.onelink.me/qPj2?af_xp=custom&pid=CPS_Dragneel&c=CPS_Dragneelclub_talent-swallowing-system&af_dp=QDHWReader://app/open?query=%7B%22url%22%3A%22%2Fbook%2F22969003505340005%22%7D&af_prt=dragneelclub&af_web_dp=https%3A%2F%2Fwww.webnovel.com%2Fbook%2Ftalent-swallowing-system_22969003505340005"
                        class="btn btn-primary">Read This Novel</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/static/images/webnovel/stayed at home.png"
                    alt="I Stayed At Home For A Century, When I Emerged I Was Invincible">
                <div class="card-body">
                    <h5 class="card-title">I Stayed At Home For A Century, When I Emerged I Was Invincible</h5>
                    <p class="card-text">In a fantastical realm, Chu Xuan finds solace in solitude. With a unique system
                        that rewards his reclusive lifestyle, he grows stronger day by day. As he acquires a myriad of
                        techniques and abilities, he proves that power can be found in the quietest of places.</p>
                    <a href="https://webnovel.onelink.me/qPj2?af_xp=custom&pid=CPS_Dragneel&c=CPS_Dragneelclub_i-stayed-at-home-for-a-century-when-i-emerged-i-was-invincible&af_dp=QDHWReader://app/open?query=%7B%22url%22%3A%22%2Fbook%2F22969003505340005%22%7D&af_prt=dragneelclub&af_web_dp=https%3A%2F%2Fwww.webnovel.com%2Fbook%2Fi-stayed-at-home-for-a-century-when-i-emerged-i-was-invincible_22969003505340005"
                        class="btn btn-primary">Read This Novel</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/static/images/webnovel/three wives.jpg"
                    alt="My Three Wives Are Beautiful Vampires">
                <div class="card-body">
                    <h5 class="card-title">My Three Wives Are Beautiful Vampires</h5>
                    <p class="card-text">Wronged and turned into a pariah, a man finds a second chance in a magical
                        realm, reborn as a wolf. Armed with cheats, he embarks on a journey to become the ultimate
                        predator, proving that even the meek can become the mighty.</p>
                    <a href="https://webnovel.onelink.me/qPj2?af_xp=custom&pid=CPS_Dragneel&c=CPS_Dragneelclub_my-three-wives-are-beautiful-vampires.&af_dp=QDHWReader://app/open?query=%7B%22url%22%3A%22%2Fbook%2F20553633305398405%22%7D&af_prt=dragneelclub&af_web_dp=https%3A%2F%2Fwww.webnovel.com%2Fbook%2Fmy-three-wives-are-beautiful-vampires._20553633305398405"
                        class="btn btn-primary">Read This Novel</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">

                <img class="card-img-top" src="/static/images/webnovel/boss.png" alt="The Boss Behind The Game">
                <div class="card-body">
                    <h5 class="card-title">The Boss Behind The Game</h5>
                    <p class="card-text">Lu Wu, a game developer with royal underworld lineage, crafts a virtual
                        battlefield to reclaim his birthright. By transporting gamers into a realm of fantasy and
                        danger, he embarks on a quest to regain what was once his.</p>
                    <a href="https://webnovel.onelink.me/qPj2?af_xp=custom&pid=CPS_Dragneel&c=CPS_Dragneelclub_the-boss-behind-the-game&af_dp=QDHWReader://app/open?query=%7B%22url%22%3A%22%2Fbook%2F15117789005857405%22%7D&af_prt=dragneelclub&af_web_dp=https%3A%2F%2Fwww.webnovel.com%2Fbook%2Fthe-boss-behind-the-game_15117789005857405"
                        class="btn btn-primary">Read This Novel</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/static/images/webnovel/gamers of underworld.png"
                    alt="Gamers of the Underworld(Highly Recommended)">
                <div class="card-body">
                    <h5 class="card-title">Gamers of the Underworld(Highly Recommended)</h5>
                    <p class="card-text">The story follows Sherlock, a new generation Dungeon Lord who
                        aspires to become the greatest Devil King and create the most incredible Dungeon in the
                        Underworld. To achieve his goals, he summons a group of goblins from another world who engage in
                        commerce, fight amongst themselves, and amusingly, call themselves Gamers.
                    </p>
                    <a href="https://webnovel.onelink.me/qPj2?af_xp=custom&pid=CPS_Dragneel&c=CPS_Dragneelclub_reincarnated-as-the-strongest-ancestor-with-a-system&af_dp=QDHWReader://app/open?query=%7B%22url%22%3A%22%2Fbook%2F23327994005895805%22%7D&af_prt=dragneelclub&af_web_dp=https%3A%2F%2Fwww.webnovel.com%2Fbook%2Freincarnated-as-the-strongest-ancestor-with-a-system_23327994005895805"
                        class="btn btn-primary" style="color: gre;">Read This Novel</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/static/images/webnovel/ero master.jpg" alt="Ero Master">
                <div class="card-body">
                    <h5 class="card-title">Ero Master</h5>
                    <p class="card-text">After getting ignored by his childhood crush all his life, Jack gets on the
                        brink of depression.

                        However, his life changes after he gets the Ero Meter which helps him get any girl with ease.
                    </p>
                    <a href="https://webnovel.onelink.me/qPj2?af_xp=custom&pid=CPS_Dragneel&c=CPS_Dragneelclub_ero-meter&af_dp=QDHWReader://app/open?query=%7B%22url%22%3A%22%2Fbook%2F12974322205213605%22%7D&af_prt=dragneelclub&af_web_dp=https%3A%2F%2Fwww.webnovel.com%2Fbook%2Fero-meter_12974322205213605"
                        class="btn btn-primary">Read
                        This Novel</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showCode(id, url) {
        var codeDiv = document.getElementById(id);
        if (codeDiv.style.display === "none") {
            window.open(url, '_blank');
            codeDiv.style.display = "block";
        } else {
            codeDiv.style.display = "none";
        }
    }
</script>
{% endblock %}