{% extends "base.html" %}

{% block title %}
Get your top picks here
{% endblock %}

{% block title1 %}
📚 Novel Recommender System
{% endblock %}

{% block content %}
<!-- Flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<div class="container">
    <form method="POST">
        <div class="form-group">
            <label for="selected_novel_name">
                🔎 Choose a Novel to get Recommendations
            </label>
            <input type="text" id="selected_novel_name" name="selected_novel_name" class="form-control"
                value="{{selected_novel_name|e}}" placeholder="Enter novel name here">
            <!-- <input class="form-control" id="selected_novel_name" name="selected_novel_name" placeholder="Enter novel name here" type="text" value="Mother of Learning"/> -->
        </div>
        <input id="slider" max="100" min="1" name="slider" type="range" value="1" />
        <input class="btn btn-primary submitBtn" name="action1" type="submit" value="💡 Recommend" />
        <input class="btn btn-secondary submitBtn" id="randomButton" name="action2" type="submit" value="🎲 Random" />
        <input class="btn btn-secondary submitBtn" id="saButton" name="action3" type="button" value="Analysis" />
        <br />
    </form>
</div>
<div class="container text-center">
    <div class="loader" id="loader">
    </div>
</div>
<!-- Sentiment Analysis Results -->
<div id="sentimentResults">
    <p id="positiveResult">
    </p>
    <p id="negativeResult">
    </p>
  
</div>
<img alt="Word Cloud" id="wordCloudImage" style="max-width: 100%;display: none;" />
<!-- Error Message Display -->
<div class="alert alert-danger" id="errorMessage" style="display: none;">
</div>
{% if recommendations %}
<div class="container mt-4">
    <h2>
        Here are some novels you might enjoy:
    </h2>
    <div class="row" id="recommendations-row">
        {% for novel in recommendations %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img alt="{{ novel.name }}" class="card-img-top" onerror="imgError(this);"
                    src="{{ novel.image_url }}" />
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="novel-name-link" href="/?selected_novel_name={{ novel.name }}">
                            {{
                            novel.name }}
                        </a>
                    </h5>
                    {% if novel.english_publisher and novel.english_publisher.lower() == "webnovel" %}
                    <a class="btn btn-primary" href="https://www.webnovel.com/" target="_blank">
                        📖 Read This
                        Novel
                    </a>
                    {% elif novel.english_publisher.lower() == "dreame" %}
                    <a class="btn btn-primary" href="https://www.dreame.com" target="_blank">
                        Read the Novel
                    </a>
                    {% elif novel.english_publisher.lower() in ["seven seas","j-novel club", "tentai books","yen
                    press"] %}
                    <a class="btn btn-primary" href="https://www.amazon.com" target="_blank">
                        Read the
                        Novel
                    </a>
                    {% else %}
                    <a class="btn btn-primary" href="https://www.google.com/search?q={{ novel.name }}" target="_blank">
                        📖 Read This
                        Novel
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $("#selected_novel_name").autocomplete({
            source: '/autocomplete',
            minLength: 2,
            select: function (event, ui) {
                $("#selected_novel_name").val(ui.item.value);
            }
        });
    });
    $("#randomButton").onclick = function () {
        //  document.getElementById("loadMoreButton").style.display = "none";
        $('#loadMoreButton').hide();

    }
</script>
{% endblock %}