{% extends "base.html" %}

{% block title %}
Get your top picks here
{% endblock %}

{% block title1 %}
📚 Novel Recommender System
{% endblock %}

{% block content %}
<!-- Flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<div class="container">
    <form method="POST">
        <div class="form-group">
            <label for="selected_novel_name">🔎 Choose a Novel to get Recommendations</label>
            <input type="text" id="selected_novel_name" name="selected_novel_name" class="form-control"
                value="{{selected_novel_name|e}}" placeholder="Enter novel name here">
        </div>
        <input type="range" id="slider" name="slider" min="1" max="100" value="1">

        <input type="submit" name="action1" value="💡 Recommend" class="btn btn-primary submitBtn">
        <input type="submit" name="action2" value="🎲 Random" class="btn btn-secondary submitBtn" id="randomButton">


        <input type="button" name="action3" value="Ask NovelMateAI" class="btn btn-secondary submitBtn"
            id="novelmateaiButton">
        <input type="button" name="action4" value="Generate Image" class="btn btn-secondary submitBtn"
            id="imagegenButton">
    </form>

</div>
<div class="container text-center">
    <div class="loader" id="loader"></div>
</div>
<div id="novelmateaiResponse">
    <p><b>NovelMate:</b> <span id="botOutput" class="novelmate-output"></span></p>

</div>

<div id="imageContainer"></div>



{% if recommendations %}
<div class="container mt-4">
    <h2>Here are some novels you might enjoy:</h2>
    <div id="recommendations-row" class="row">
        {% for novel in recommendations %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ novel.image_url }}" onerror="imgError(this);" alt="{{ novel.name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><a href="/?selected_novel_name={{ novel.name }}" class="novel-name-link">{{
                            novel.name }}</a>
                    </h5>
                    {% if novel.english_publisher and novel.english_publisher.lower() == "webnovel" %}
                    <a href="https://www.webnovel.com/" target="_blank" class="btn btn-primary">📖 Read This
                        Novel</a>
                    {% elif novel.english_publisher.lower() == "dreame" %}
                    <a href="https://www.dreame.com" target="_blank" class="btn btn-primary">Read the Novel</a>
                    {% elif novel.english_publisher.lower() in ["seven seas","j-novel club", "tentai books","yen
                    press"] %}
                    <a href="https://www.amazon.com" target="_blank" class="btn btn-primary">Read the
                        Novel</a>
                    {% else %}
                    <a href="https://www.google.com/search?q={{ novel.name }}" target="_blank"
                        class="btn btn-primary">📖 Read This
                        Novel</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endif %}



{% if amazon_products %}
<div class="container mt-4">
    <h2>Check out these Amazon products:</h2>
    <div class="row">
        {% for product in amazon_products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product["ItemInfo"]["Title"]["DisplayValue"] }}</h5>
                    <center> <img src="{{ product['Images']['Primary']['Large']['URL'] | default('#') }}"
                            alt="{{ product['ItemInfo']['Title']['DisplayValue'] | default('No Title') }}"
                            class="card-img-top">
                        <a href="{{ product['DetailPageURL'] | default('#') }}" class="btn btn-primary">Buy on
                            Amazon</a>
                    </center>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}