{% extends "base.html" %}

{% block title %}
Let's Play Web Novel Quiz
{% endblock %}

{% block title1 %}
Let's Start Playing Quiz
{% endblock %}

{% block can_url %}
{{ url_for('quiz', quiz_name=quiz_name, _external=True) }}
{% endblock %}

{% block content %}
<div class="container mt-5">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} mt-3">
    {{ message }}
  </div>
  {% endfor %}
  {% endwith %}

  <!-- Quiz form -->
  <div class="quiz-container">
    <form action="/submit-quiz/{{ quiz_name }}" method="post">
      <div class="mb-4">
        {% for question in questions %}
        <p class="font-weight-bold mb-2">{{ question.question }}</p>
        {% for option in question.options %}
        <div class="form-check mb-2">
          <input class="form-check-input" type="radio" name="{{ question.question }}"
            id="{{ question.question }}_{{ loop.index }}" value="{{ option }}">
          <label class="form-check-label" for="{{ question.question }}_{{ loop.index }}">{{ option }}</label>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
      <div class="form-group mb-3">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group mb-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} mt-3">
        {{ message }}
      </div>
      {% endfor %}
      {% endwith %}
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

  </div>


</div>
{% endblock %}