{% extends "base.html" %}

{% block title %}
Web Novel Quiz
{% endblock %}

{% block title1 %}
Web Novel Quiz
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="mb-4">Select a Quiz</h1>
            {% for quiz_name in quizzes %}
            <div class="mb-3">
                <a class="text-decoration-none text-primary fs-4" href="/quiz/{{ quiz_name }}">{{ quiz_name }}</a>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <!-- Sidebar -->
            <div class="sidebar p-3 border rounded">
                <h2 class="mb-4">Top Scores</h2>
                {% for topic, name, score in top_scores %}
                <div class="mb-2">
                    <span class="fw-bold">{{ name }}</span> 
                    <span class="text-muted">({{ topic }})</span>: 
                    <span class="text-success">{{ score }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
