{% extends "base.html" %}

{% block title %}
Translate
{% endblock %}
{% block title1 %}
Translate
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <label for="apiKey">OpenAI API Key:</label>

            <input type="text" id="apiKey" placeholder="Enter your API key..." class="translate-input">
            <button id="apiKeyButton" onclick="validateApiKey()" class="translate-button">Submit</button>
            <p style="font-size: smaller;">OpenAI provides free credit of $5 when you first create the account. With
                free credits, You can translate around 180
                chapters of 1500 words each. <a
                    href="https://www.howtogeek.com/885918/how-to-get-an-openai-api-key/">How to Get API key?</a></p>

        </div>

    </div>
    <div class="d-flex align-items-start">
        <div id="apiKeyStatus" class="disconnected">Disconnected</div>
        <text onclick="removeApiKey()" class="remove-api-button" style="margin: auto 10px; font-size: smaller;">Remove
            API Key</text>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <textarea id="inputText" placeholder="Enter text here..." rows="20" class="translate-textarea"></textarea>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-center">
            <button id="translateButton" onclick="translateText()" class="translate-button">Translate</button>
        </div>

        <div class="col-md-5">
            <div id="translateStatus" style="display: none;">Processing... Please Wait</div>

            <textarea id="outputText" readonly rows="20" class="translate-textarea"></textarea>
        </div>
    </div>

</div>


{% endblock %}